[Unit]
Description=Captive Portal iptables rules
After=pi-hotspot-nm.service dnsmasq.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/captive-portal.sh start
ExecStop=/usr/local/bin/captive-portal.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
