[Unit]
Description=Start hotspot session on boot (target + 15min timer)
After=network-online.target NetworkManager.service
Wants=network-online.target NetworkManager.service

[Service]
Type=oneshot
ExecStart=/bin/systemctl start setup-hotspot.target
ExecStart=/bin/systemctl start hotspot-shutdown.timer

[Install]
WantedBy=multi-user.target
