[Unit]
Description=Run NM Hotspot + Captive Portal + Hotspot UI
Requires=pi-hotspot-nm.service dnsmasq.service captive-portal.service hotspot-ui.service
After=NetworkManager.service pi-hotspot-nm.service


[Install]
WantedBy=multi-user.target
