[Unit]
Description=Run NM Hotspot + Captive Portal + Hotspot UI
Requires=pi-hotspot-nm.service dnsmasq.service captive-portal.service hotspot-ui.service
After=network-online.target

[Install]
WantedBy=multi-user.target
